*.pyc
django_session_security.egg-info
django_session_security_continued.egg-info
session_security.egg-info
.coverage*
.ropeproject
.idea
dist
docs/build
docs/source/_static/
test_project/geckodriver.log
db.sqlite
dist/
build/
*.mo
.tox/
.coverage
node_modules/
.nyc_output/
session_security/static/session_security/coverage/
coverage-js/
.uv-cache
