version: 2.1
orbs:
    lintinator: arrai/lintinator@2.1.0
    pip-audit: arrai/pip-audit@1.0.3
    pytest: arrai/pytest@10.0.0
executors:
    python39:
        docker:
            - image: cimg/python:3.9-browsers
    python39-simple:
        docker:
            - image: cimg/python:3.9
jobs:
    build:
        executor: python39-simple
        resource_class: small
        steps:
            - checkout
            - run:
                  name: Build Package
                  command: uv build
            - save_cache:
                  paths:
                      - ~/project/dist
                  key: build-{{ arch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
workflows:
    test:
        jobs:
            - pytest/pytest_fixed_ip:
                  name: python_3.9
                  executor: python39
                  context: arrai-global
                  pytest_args: --cov
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.9-no-badge
                  executor: python39
                  context: arrai-global
                  pytest_args: --cov
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.10
                  executor: pytest/python310
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.10-no-badge
                  executor: pytest/python310
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.11
                  executor: pytest/python311
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.11-no-badge
                  executor: pytest/python311
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.12
                  executor: pytest/python312
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.12-no-badge
                  executor: pytest/python312
                  resource_class: small
                  context: arrai-global
                  env_type: uv
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
            - build:
                  name: build
                  requires:
                      - python_3.9
                      - python_3.10
                      - python_3.11
                      - python_3.12
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore: /.*/
    lint:
        jobs:
            - lintinator/lint_python_fixed_ip:
                  name: lint
                  context: arrai-global
                  hooks: ruff
                  filters:
                      branches:
                          only:
                              - main
            - lintinator/lint_python:
                  name: lint-no-badge
                  hooks: ruff
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
    audit:
        jobs:
            - pip-audit/pip_audit_ip:
                  name: pip-audit
                  context: arrai-global
                  env_type: uv
                  filters:
                      branches:
                          only:
                              - main
            - pip-audit/pip_audit:
                  name: pip-audit-no-badge
                  context: arrai-global
                  env_type: uv
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
