version: 2.1
orbs:
    github: arrai/github@5.0.0
    lintinator: arrai/lintinator@2.1.0
    pip-audit: arrai/pip-audit@1.0.3
    pypi: arrai/pypi@3.1.0
    pytest: arrai/pytest@10.0.1
    utils: arrai/utils@1.21.1
executors:
    python39:
        docker:
            - image: cimg/python:3.9-browsers
    python39-simple:
        docker:
            - image: cimg/python:3.9
jobs:
    build:
        executor: python39-simple
        resource_class: small
        steps:
            - checkout
            - run:
                  name: Build Package
                  command: uv build
            - save_cache:
                  paths:
                      - ~/project/dist
                  key: build-{{ arch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
    js_coverage:
        executor: python39
        resource_class: small
        circleci_ip_ranges: true
        parameters:
            create_badges:
                description: Create status badges
                type: boolean
                default: true
        steps:
            - checkout
            - utils/add_ssh_config
            - run:
                  name: Install python dependencies
                  command: uv sync --all-groups
            - run:
                  name: Install javascript dependencies
                  command: npm install
            - run:
                  name: Build javascript coverage
                  command: npm run build:coverage
                  when: always
            - run:
                  name: Run tests
                  command: SESSION_SECURITY_JS_COVERAGE=1 uv run pytest -k selenium
                  when: always
            - run:
                  name: Generate coverage report
                  command: npm run coverage:report
                  when: always
            - utils/rsync_folder:
                  when: always
                  folder: coverage-js/lcov-report/
                  remote_folder: ${CIRCLE_BRANCH}/${CIRCLE_JOB}
                  host: docs
            - when:
                  condition: <<parameters.create_badges>>
                  steps:
                      - utils/make_coverage_shield:
                            logo: JavaScript
                            when: always
                            link: https://${DOCS_HOST}/${CIRCLE_PROJECT_REPONAME}/artifacts/${CIRCLE_BRANCH}/${CIRCLE_JOB}/
                      - utils/rsync_file:
                            when: always
                            file: /tmp/coverage.svg
                            remote_file: ${CIRCLE_BRANCH}/${CIRCLE_JOB}.svg
                            host: docs
workflows:
    test:
        jobs:
            - js_coverage:
                  name: js-coverage
                  context: arrai-global
                  filters:
                      branches:
                          only:
                              - main
            - js_coverage:
                  name: js-coverage-no-badge
                  context: arrai-global
                  create_badges: false
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.9
                  executor: python39
                  context: arrai-global
                  pytest_args: --cov
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.9-no-badge
                  executor: python39
                  context: arrai-global
                  pytest_args: --cov
                  create_badges: false
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.10
                  executor: pytest/python310
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.10-no-badge
                  executor: pytest/python310
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.11
                  executor: pytest/python311
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.11-no-badge
                  executor: pytest/python311
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore:
                              - main
            - pytest/pytest_fixed_ip:
                  name: python_3.12
                  executor: pytest/python312
                  resource_class: small
                  context: arrai-global
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  filters:
                      branches:
                          only:
                              - main
            - pytest/pytest:
                  name: python_3.12-no-badge
                  executor: pytest/python312
                  resource_class: small
                  context: arrai-global
                  env_type: uv
                  pytest_args: -m "not selenium"
                  build_coverage: false
                  create_badges: false
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore:
                              - main
            - build:
                  name: build
                  requires:
                      - python_3.9-no-badge
                      - python_3.10-no-badge
                      - python_3.11-no-badge
                      - python_3.12-no-badge
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore: /.*/
            - pypi/upload_release:
                  name: publish
                  cache_key: build-{{ arch }}-{{ .Environment.CIRCLE_WORKFLOW_ID }}
                  context: arrai-public-package-publishing
                  requires:
                      - build
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore: /.*/
            - github/create_release:
                  name: release_on_github
                  context: arrai-global
                  requires:
                      - build
                  filters:
                      tags:
                          only: /^(?:[0-9]+[.]){2}[0-9]+$/
                      branches:
                          ignore: /.*/
            - github/create_release:
                  name: prerelease_on_github
                  context: arrai-global
                  prerelease: true
                  requires:
                      - build
                  filters:
                      tags:
                          only: /^(?:[0-9]+[.]){2}[0-9]+(?:[AaBb]|RC|rc)[0-9]*$/
                      branches:
                          ignore: /.*/
    lint:
        jobs:
            - lintinator/lint_python_fixed_ip:
                  name: lint
                  context: arrai-global
                  hooks: ruff
                  filters:
                      branches:
                          only:
                              - main
            - lintinator/lint_python:
                  name: lint-no-badge
                  hooks: ruff
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
    audit:
        jobs:
            - pip-audit/pip_audit_ip:
                  name: pip-audit
                  context: arrai-global
                  env_type: uv
                  filters:
                      branches:
                          only:
                              - main
            - pip-audit/pip_audit:
                  name: pip-audit-no-badge
                  context: arrai-global
                  env_type: uv
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
