version: 2.1
orbs:
    lintinator: arrai/lintinator@2.1.0
    pip-audit: arrai/pip-audit@1.0.3
workflows:
    lint:
        jobs:
            - lintinator/lint_python_fixed_ip:
                  name: lint
                  context: arrai-global
                  hooks: ruff
                  filters:
                      branches:
                          only:
                              - main
            - lintinator/lint_python:
                  name: lint-no-badge
                  hooks: ruff
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
    audit:
        jobs:
            - pip-audit/pip_audit_ip:
                  name: pip-audit
                  context: arrai-global
                  env_type: uv
                  filters:
                      branches:
                          only:
                              - main
            - pip-audit/pip_audit:
                  name: pip-audit-no-badge
                  context: arrai-global
                  env_type: uv
                  create_badges: false
                  filters:
                      branches:
                          ignore:
                              - main
